{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="content_1">
        <div class="gray_middle_content">
            <h1 class="profile_title">اطلاعات حساب کاربری شما</h1>
            <table class="profile_table">
            <tr>
                <td class="profile_td">{{request.user.username}}</td>
                <th class="profile_thead"> : نام کاربری </th>
                
                </tr>
                <tr>
                
                <td  class="profile_td">{{request.user.email}}</td>
                <th  class="profile_thead"> : ایمیل</th>
                </tr>
                
            </table>
            
            <a href="/shop/cart/" class="profile_bag_link"> مشاهده سبد خرید</a>

        
        </div>
        
    </div>
</main>
{% endblock %}