{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<main>
    <form method="post">
        <div class="content_1">
            <div class="gray_middle_content">
                <h1 class="sign_title">ایجاد حساب کاربری</h1>
                <input class="input_name" type="text" placeholder="نام کاربری خود را وارد کنید"  id="input_name" required>
                <input class="input_email2" type="email" name="email" placeholder=" ایمیل خود را وارد کنید" id="input_email2" required>
                <input class="input_pass2" type="password" name="pwd" placeholder=" رمز عبور خود را وارد کنید" id="input_pass2" required>
                <input class="input_pass2_repeat" type="password" name="pwd_repeat" placeholder=" رمز عبور خود را دوباره وارد کنید" id="input_pass2_repeat" required>
                <button class="signup_button" type="submit" onclick="pass_confirm()">
                    <span style="color: CE4625 ; font-size: 26; font-weight: 700;">ثبت نام</span>
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}