{% extends "layout/base.html" %}
{% load static %}
{% block content %}
        <!--content 1-->
        <main>
            <div class="index_content_1">
                <h1 class="index_title">بهترین ها برای شما</h1>
                {% for cat in product_cat %}
                <a href="/shop/cat/{{cat.slug}}"><img class="index_pics{{ forloop.counter }}" src="{{cat.thumbnail.url}}" title="{{cat.title}}" alt="{{cat.title}}"></a>
                {% endfor %}
            </div>
         
            <!--content 2-->
            <div class="content_2">

                <a class="brand1" href="https://www.converse.com/" target="_blank">
                    <img src="{% static 'image/converse 3.png'%}" alt="converse">
                </a>
                <a class="brand2" href="https://www.nike.com/w/womens-running-shoes-37v7jz5e1x6zy7ok" target="_blank">
                    <img src="{% static 'image/nike 3.png'%}" alt="nike">
                </a>
                <a class="brand3" href="https://www.skechers.nl/" target="_blank">
                    <img src="{% static 'image/skechers 3.png'%}" alt="skechers">
                </a>
                <a class="brand4" href="https://www.adidas.nl/" target="_blank">
                    <img src="{% static 'image/adidas 3.png'%}" alt="adidas">
                </a>
                <a class="brand5" href="https://www.vans.nl/" target="_blank">
                    <img src="{% static 'image/vans 3.png'%}" alt="vans">
                </a>
               
            </div>
        </main>
{% endblock content %}