{% extends "layout/base.html" %}
{% load static %}
{% block content %}

 
          <!--content-->
          <main dir="rtl">
        <div class="content_1">
            <div class="gray_middle_content">
              <table class="bag_table">
                  <thead class="bag_thead">
                      <tr>
                          <td class="bag_td" >تصویر محصول</td>
                          <td class="bag_td">نام محصول</td>
                          <td class="bag_td">سایز</td>
                          <td class="bag_td">قیمت</td>
                          <td class="bag_td">حذف</td>
                      </tr>
                  </thead>
                  <tbody>
                  {% for obj in objects %}
                      <tr>
                          <td ><img src="{{obj.product.thumbnail.url}}" alt="Nike College Pegasus" width="163px" height="136px" style= "margin-top: 20px;"></td>
                          <td class="bag_shoe_name">{{obj.product.title}}</td>
                          <td class="bag_shoe_size">{{obj.size}}</td>
                          <td class="bag_shoe_price">{{obj.product.get_final_price}}</td>
                          <td><a href="delete/{{obj.id}}" class="delete_button">X</a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              <button class="order_button" type="submit">سفارش</button>
            </div>
            
         </div>
        </main>

         <!--pay cart-->
         <form action="/shop/final">
<div class="payment">
    <h1 class="paytitle">اطلاعات شخصی</h1>
    <input type="text" placeholder="نام و نام خانوادگی خود را وارد کنید" class="payinput1">
    <input type="text" placeholder="شماره تماس خود را وارد کنید" class="payinput2">
    <input type="text" placeholder="آدرس خود را وارد کنید" class="payinput3">
   
    <div class="features">

    <div class="feature">
     <img src="{% static 'image/product-return.png' %}"  class="featureimg">
     <span class="featuretitle">هفت روز ضمانت بازگشت کالا </span>
    </div>
    <div class="feature">
       <img src="{% static 'image/original.png' %}" class="featureimg">
       <span class="featuretitle"> ضمانت اصل بودن کالا  </span>
      </div>
      <div class="feature">
       <img src="{% static 'image/payment-method.png' %}" class="featureimg">
       <span class="featuretitle">امکان پرداخت در محل </span>
      </div>


    </div>

   <button class="cartpaybutton">تایید سفارش و پرداخت</button>
   <span class="close">X</span>
</div>
</form>
    

{% endblock %}