{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!--content-->
    <main>
    <div class="content_1">
        <h1 class="jender_title"> کفش مردانه  </h1>
        </div>
        <div class="shoe_one_pic_1_container"> 
          <a href="mshoe1.html" > <img class="shoe_one_pic_1" src="image/Nike Air Huarache.png" alt="Nike Air Huarache"></a>
            <a href="mshoe1.html"><p class="shoe_name_1">Nike Air Huarache</p></a>
            <p class="shoe_1_price">۵۷۰,۰۰۰ تومان</p> 
        </div>
        
        <div class="shoe_one_pic_1_container"> 
            <a href="mshoe2.html" > <img class="shoe_one_pic_2" src="image/Jordan Point Lane.png" alt="Jordan Point Lane"></a>
              <a href="mshoe2.html"><p class="shoe_name_2">Jordan Point Lane</p></a>
              <p class="shoe_2_price">۳۸۷,۰۰۰ تومان</p> 
          </div>
        </main>


{% endblock %}