{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!--content-->
<style>
.shoe_four_pics img{
    width: 250px;
}
.shoe_info_full{
    position:relative;
    background-color: #E8E8E8;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}
.content_1{
    display:flex;
      justify-content: space-evenly;
  padding: 20px;
  height:auto;

    
}
.content_1 .shoe_four_pics, .content_1 .shoe_info_1, .content_1 .shoe_info_2, .content_1 .add_to_bag_button{
    position:relative!important;
    top:auto;
    left:auto;
    right:auto;
    height:auto;
}
.content_1 .add_to_bag_button{
    height:50px;
    margin-top:10px;
}
</style>
    <main>
    <div class="content_1">
        <div class="shoe_four_pics">
        {% for obj in object.image_gallery.all %}
            <img class="shoe_pic{{forloop.counter}}" src="{{obj.image.url}}" alt="{{object.title}}">
        {% endfor %}
        </div>
      <div class="shoe_info_full">
        <div class="shoe_info_1">
           <p class="shoe_name">{{object.title}}</p>
           {% if object.is_discount %}
           <p class="shoe_price_del">{{object.price}}</p>
           <p class="shoe_price_now">{{object.discount_price}}</p>
           {% else %}
           <p class="shoe_price_now">{{object.price}}</p>
           {% endif %}
    <select name="size" id="size">
    <option value="o">سایز کفش را انتخاب کنید</option>
    {% for size in object.product_size.all %}
    <option value="{{size.size_name}}">{{size.size_name}}</option>
    {% endfor %}
    </select>
       </div>

       <div class="shoe_info_2">
           <p class="info">مشخصات<br>
            {{object.content}}
       </div>

       <button class="add_to_bag_button" type="submit">افزودن به سبد خرید</button>
</div>
    </div>

</main>

{% endblock %}